* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    background: url("../imagenes/esta\ si.png");
}
.logo {
    display: flex;
    justify-content: center;
    padding: 10px;

}
nav {

    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    transition: all 0, 5s ease;
    position: sticky;
    top: 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.menu {
    display: flex;


}

.menu li {
    list-style: none;
    margin: 20px;
}

.menu li a {
    color: black;

    text-decoration: none;
    font-weight: bold;
    transition: all 200ms ease;
}

.menu li a:hover {
    padding: 5px;
    background-color: #7ABA96;
    color: white;
    border-radius: 15px;



}
section{
    margin: 20px;
}
section p{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-weight: 600;
}
.fotito {
    margin: 20px;
    width: 200px;
    height: auto;
    border:1px solid #020202;
    padding:5px;
}